//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Navigation

//== Regions
//## Behavior in the different regions
========================================================================== */
// When used in topbar
.region-topbar {
    .mx-navbar {
        background-color: $navtopbar-bg;
        ul.nav {
            /* Navigation item */
            & > li.mx-navbar-item {
                margin-right: 2px;
                > a {
                    color: $navtopbar-color;
                    font-size: $navtopbar-font-size;
                    display: flex;
                    align-items: center;
                    min-height: 35px;
                    vertical-align: middle;
                    border-radius: 0;
                    font-weight: 400;

                    /* Dropdown arrow */
                    .caret {
                        border-top-color: $navtopbar-color;
                        border-bottom-color: $navtopbar-color;
                    }
                    &::after {
                        content: '';
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: white;
                        transition: background-color .25s;
                    }
                    &:hover,
                    &:focus,
                    &.active {
                        color: $navtopbar-color;
                        background-color: $navtopbar-bg;
                        &::after {
                            background-color: $brand-default;
                        }
                        .caret {
                            border-top-color: $navtopbar-color-active;
                            border-bottom-color: $navtopbar-color-active;
                        }
                    }
                    &.active {
                        color: $navtopbar-color;
                        background-color: $navtopbar-bg;
                    }

                    /* Dropdown */
                    .mx-navbar-submenu::before {
                        border-color: transparent transparent $navtopbar-border-color transparent;
                    }

                    // Image
                    .glyphicon {
                        font-size: $navtopbar-glyph-size;
                    }
                }
            }

            /* When hovering or the dropdown is open */
            & > .mx-navbar-item > a:hover,
            & > .mx-navbar-item > a:focus,
            & > .mx-navbar-item.active a,
            & > .mx-navbar-item.open > a,
            & > .mx-navbar-item.open > a:hover,
            & > .mx-navbar-item.open > a:focus {
                color: $navtopbar-color;
                background-color: $navtopbar-bg;
                &:focus {
                    outline: 0;
                }
                &::after {
                    background-color: $brand-default;
                }
                .caret {
                    border-top-color: $navtopbar-color;
                    border-bottom-color: $navtopbar-color;
                }
                
            }
            & > .mx-navbar-item.open .dropdown-menu > li.mx-navbar-subitem.active a {
                color: $navtopbar-sub-color-active;
                background-color: $navtopbar-sub-bg-active;
                .caret {
                    border-top-color: $navtopbar-sub-color-active;
                    border-bottom-color: $navtopbar-sub-color-active;
                }
            }
        }
        @media (max-width: $screen-sm) {
            ul.nav > li.mx-navbar-item > a {
            }
            .mx-navbar-item.open .dropdown-menu {
                background-color: $navtopbar-sub-bg;
                & > li.mx-navbar-subitem > a {
                    color: $navtopbar-sub-color;
                    font-size: $navtopbar-sub-font-size;
                    &:hover,
                    &:focus {
                        color: $navtopbar-sub-color-hover;
                        background-color: $navtopbar-sub-bg-hover;
                    }
                    &.active {
                        color: $navtopbar-sub-color-active;
                        background-color: $navtopbar-sub-bg-active;
                    }
                }
            }
        }
    }
}

// When used in sidebar
.region-sidebar {
    .mx-navbar {
        background-color: $navsidebar-bg;
        ul.nav {
            /* Navigation item */
            & > li.mx-navbar-item > a {
                color: $navsidebar-color;
                font-size: $navsidebar-font-size;

                /* Dropdown arrow */
                .caret {
                    border-top-color: $navsidebar-color;
                    border-bottom-color: $navsidebar-color;
                }
                &:hover,
                &:focus,
                &.active {
                    color: $navsidebar-color-hover;
                    background-color: $navsidebar-bg-hover;
                    .caret {
                        border-top-color: $navsidebar-color-active;
                        border-bottom-color: $navsidebar-color-active;
                    }
                }
                &.active {
                    color: $navsidebar-color-active;
                    background-color: $navsidebar-bg-active;
                }

                /* Dropdown */
                .mx-navbar-submenu::before {
                    border-color: transparent transparent $navsidebar-border-color transparent;
                }

                // Image
                .glyphicon {
                    font-size: $navsidebar-glyph-size;
                }
            }

            /* When hovering or the dropdown is open */
            & > .mx-navbar-item > a:hover,
            & > .mx-navbar-item > a:focus,
            & > .mx-navbar-item.active a,
            & > .mx-navbar-item.open > a,
            & > .mx-navbar-item.open > a:hover,
            & > .mx-navbar-item.open > a:focus {
                color: $navsidebar-color-hover;
                background-color: $navsidebar-bg-hover;
                .caret {
                    border-top-color: $navsidebar-color-hover;
                    border-bottom-color: $navsidebar-color-hover;
                }
            }
            & > .mx-navbar-item.open .dropdown-menu > li.mx-navbar-subitem.active a {
                color: $navsidebar-sub-color-active;
                background-color: $navsidebar-sub-bg-active;
                .caret {
                    border-top-color: $navsidebar-sub-color-active;
                    border-bottom-color: $navsidebar-sub-color-active;
                }
            }
        }
        @media (max-width: $screen-sm) {
            ul.nav > li.mx-navbar-item > a {
            }
            .mx-navbar-item.open .dropdown-menu {
                background-color: $navtopbar-sub-bg;
                & > li.mx-navbar-subitem > a {
                    color: $navsidebar-sub-color;
                    font-size: $navsidebar-sub-font-size;
                    &:hover,
                    &:focus {
                        color: $navsidebar-sub-color-hover;
                        background-color: $navsidebar-sub-bg-hover;
                    }
                    &.active {
                        color: $navsidebar-sub-color-active;
                        background-color: $navsidebar-sub-bg-active;
                    }
                }
            }
        }
    }
}
